<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EXPERIOLEARN -Internship Management Platform</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ExperioLearn name=" keywords">
    <meta content="Internship" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="static/img/images.jpg">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <img src="{{ url_for('static', filename='static/img/IMG_6554.jpg') }}" alt="">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom/custom.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom/custom.css') }}"></head>

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<div>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">Fred Osege</span><span
                        class="text-black-50">ojjfred@gmail.com</span><span> </span></div>
                <label for="formFileMultiple" class="form-label">Upload Resume</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple />
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                placeholder="first name" value=""></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                class="form-control" value="" placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="enter phone number" value=""></div>
                        <div class="col-md-12"><label class="labels">Duration of Stay</label><input type="text"
                                class="form-control" placeholder="enter monthsof stay" value=""></div>
                        <div class="col-md-12"><label class="labels">Education Level</label><input type="text"
                                class="form-control" placeholder="enter level of education" value=""></div>
                        <div class="col-md-12"><label class="labels">Course Studied</label><input type="text"
                                class="form-control" placeholder="enter course" value=""></div>
                        <div class="col-md-12"><label class="labels">University & Yr of Grad.</label><input type="text"
                                class="form-control" placeholder="institution & grad. yr." value=""></div>

                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                class="form-control" placeholder="enter email id" value=""></div>
                        <div class="col-md-12"><label class="labels">Interest Areas</label><input type="text"
                                class="form-control" placeholder="enter your specialization" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
                            Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                 <a href="my_dashboard.html"
                    class="d-flex flex-column align-items-center text-center btn btn-secondary py-md-3 px-md-5 rounded-pill">My
                    Dashboard</a>
                </div>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <a href="logform.html"
                       class="d-flex flex-column align-items-center text-center btn btn-secondary py-md-3 px-md-5 rounded-pill">Manager's Log</a>
                   </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Javascript Code-->
<script src="js/main.js"></script>
</body>

</html>