<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
</head>
  <body>

      <div class="row">
        <div class="col-md-3 border-right">
          <label for="formFileMultiple" class="form-label">Upload Resume</label>
          <input class="form-control" type="file" id="formFileMultiple" multiple />
        </div>
        <div class="col-md-5 border-right">
          <form method="post" action="submit-form">
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">First Name</label>
                <input type="text" class="form-control" placeholder="first name" name="firstname">
              </div>
              <div class="col-md-6">
                <label class="labels">last Name</label>
                <input type="text" class="form-control" placeholder="last name" name="lastname">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">Mobile Number</label>
                <input type="text" class="form-control" placeholder="enter phone number" name="phone">
              </div>
              <div class="col-md-12">
                <label class="labels">Duration of Stay</label>
                <input type="text" class="form-control" placeholder="enter months of stay" name="duration">
              </div>
              <div class="col-md-12">
                <label class="labels">Education Level</label>
                <input type="text" class="form-control" placeholder="enter level of education" name="education">
              </div>
              <div class="col-md-12">
                <label class="labels">Course Studied</label>
                <input type="text" class="form-control" placeholder="enter course" name="course">
              </div>
              <div class="col-md-12">
                <label class="labels">University &amp; Yr of Grad.</label>
                <input type="text" class="form-control" placeholder="institution &amp; grad. yr." name="university">
              </div>
              <div class="col-md-12">
                <label class="labels">Interest Areas</label>
                <input type="text" class="form-control" placeholder="enter your specialization" name="interests">
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
            <div class="ml-auto">
                <strong>{{ current_user.name }}</strong> | <a href='logout'>Logout</a>
            </div>
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <a href='my_dashboard' class="d-flex flex-column align-items-center text-center btn btn-secondary py-md-3 px-md-5 rounded-pill">My Dashboard</a>
          </div>
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <a href='#' class="d-flex flex-column align-items-center text-center btn btn-secondary py-md-3 px-md-5 rounded-pill">Manager's Log</a>
          </div>